#main-header {
    height: $header-start-height;
    position: fixed;
    left: 0;
    transition: all $speed2 $easing-cubic;
    top: 0;
    width: 100%;
    z-index: 100;

    nav {
        width: calc(100% - 40px);
        .wrapper {
            position: relative;
        }
    }

    .link-home {
        position: relative;
        .logo {
            &-sm {
                position: absolute;
                top: 50%;
                opacity: 0;
                transform: translateY(-50%);
            }
            &-lg {
                align-self: center;
            }
        }
    }

    .mobile-ham {
        cursor: pointer;
        height: 18px;
        width: 34px;
        outline: none;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: all $speed $easing;
        z-index: 10000;
        -webkit-tap-highlight-color: transparent;

        span,
        span::after,
        span::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $black;
            border-radius: 20px;
            transition: all $speed3 cubic-bezier(.77, 0, .175, 1);

        }

        span {

            &:before {
                top: -9px;
            }
            &:after {
                top: 9px;
            }
        }

        &:hover {
            span {
                &:before {
                    // top: -12px;
                    transform: translateY(-3px);
                }
                &:after {
                    // top: 12px;
                    transform: translateY(3px);
                }
            }
        }

        &.flyout {
            position: absolute;
            top: 20px;
            transform: translateX(-10px);
            &:hover {
                transform: translateX(-10px) scale(1.2);
            }
        }

        &.active,
        &.flyout {
            

            & > span {
                background-color: transparent;

                &:after,
                &:before {
                    top: 0;
                    right: 0;
                }

                &:after {
                    transform: rotate(225deg);
                }

                &:before {
                    transform: rotate(-225deg);
                }
            }

        }

        @include bpmax($l) {
            opacity: 1;
        }

    }

    .wrapper-menu {
        flex: 0 0 2;
        margin-left: auto;
        width: 100%;
        transition: opacity $speed $easing-cubic;

        svg.logo-lg {
            display: none;
        }
    }

    &.scrolled {
        background-size: auto;
        height: $header-scroll-height;

        nav {
            padding: 8px 0 14px;
        }

        .link-home {
            z-index: 10001;
        }

        .mobile-ham {
            opacity: 1;
            pointer-events: all;
        }

        .wrapper-menu {
            @include scrolled-menu();
        }

    }

    @include bpmax($l - 1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } // end bpmax($l - 1)

    @include bp($l) {
        
    }
}


